.navegation{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top:8vh;
    left:0;
    z-index: 1;
}

.menu{
    width: 40%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    background-color: #000;
    
}

.menu h1{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

.logo{
    background-image: url(../../img/logo.png);
    background-size: 100%;
    width: 10vh;
    height: 10vh;
    border-radius: 50px;
    margin-top: 6vh;
}

.op1{
    width: 10vh;
    height: 100%;
}

.op2{
    width: 10vh;
    height: 100%;
}

.op3{
    width: 10vh;
    height: 100%;
}

.op4{
    width: 10vh;
    height: 100%;
}

.separador{
    width: 1px;
    height: 20px;
    background-color: white;
}

.imagem{
    width: 100%;
    min-height: 100vh;
    background-color: blue;
    margin-bottom: -100px;
    background-image: linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,1)), url(../../img/Img-1.jpg);
    background-size: 100%;
}

.container{
    width: 95%;
    min-height: 80vh;
    background-color: blueviolet;
}

.anuncios{
    width: 100%;
    height: 70vh;
    background-color: red;
}

.mensagens{
    width: 100%;
    height: 30vh;
    background-color: red;
}

.ministerios{
    width: 100%;
    height: 30vh;
    background-color: red;
}

.contatos{
    width: 100%;
    height: 30vh;
    background-color: red;
}

.footer{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info{
    width: 15%;
    height: 40vh;
    background-color: aquamarine;
}